*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
override.tf
override.tf.json
.terraform.lock.hcl

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.pytest_cache/

build/
*.zip

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
